/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 2px;
}
h2 {
  font-size: 2.8rem;
  font-weight: 500;
}
button {
  background-color: #1c2021;
  color: #22cdcd;
  border: none;
  padding: 10px 15px;
  font-weight: 700;
  cursor: pointer;
}
/* HEADER */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(28, 32, 33, .7);
  color: white;
  padding: 10px 10px;
}
header span {
  color: #22cdcd;
}
nav li {
  display: inline;
  margin: 0 15px;
  padding: 10px 15px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
nav ul .item:hover a{
  color: #22cdcd;

}


nav li a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
}

/* CAROSEL */
.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 700px;
  width: 100%;
  padding: 0 50px;
  background-image: url(../hinh_anh/b4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 700px;
  width: 100%;
  padding: 0 50px;
}
.carousel__content h2 {
  font-size: 3.2rem;
  color: white;
  letter-spacing: 2px;
  margin-top: 220px;
}
.carousel__content p {
  font-size: 1.3rem;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 200px;
}
.owl-carousel {
  width: 90%;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

/* ABOUT */
.about {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 70px 0;
}
.about__content {
  display: flex;
  justify-content: space-around;
}
.about__content i {
  width: 90px;
  height: 90px;
  border: 1px solid #8a8787;
  border-radius: 50%;
  font-size: 1.3rem;
  line-height: 90px;
}
.about__content p {
  margin: 20px 0;
  color: #b1acac;
  font-size: 0.8rem;
}
.about h3 {
  font-size: 1.5rem;
  color: #22cdcd;
  font-weight: 500;
  margin: 15px 0;
}
.about p {
  font-size: 0.9rem;
}

/* STATS */
.stats {
  padding: 60px 0;
  text-align: center;
  background-color: #22cdcd;
}
.stats h2 {
  margin-bottom: 50px;
}
.stats__content {
  width: 70%;
  margin: 0 auto;
}
.stats__number {
  display: flex;
  justify-content: space-between;
}
.stats__item h2 {
  margin-bottom: 20px;
  color: white;
  letter-spacing: 2px;
}
.stats__item p {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.blog {
  text-align: center;
  margin: 0 auto;
}
.blog__content {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 50px auto;
}
.blog__content img {
  width: 100%;
}
.blog__item {
  background-color: #efefef;
  border-top: 5px solid #22cdcd;
  margin: 0 10px;
  text-align: left;
}
.blog__item .detail {
  padding: 10px 10px 20px 10px;
}

.blog__item h3 {
  font-size: 1.2rem;
  color: #22cdcd;
  font-weight: 500;
  margin: 15px 0;
}
.blog__item p {
  margin: 20px 0;
  color: black;
  font-size: 0.8rem;
}
.blog__more {
  display: flex;
  align-items: center;
  background-color: #22cdcd;
}
.blog__more img {
  width: 100%;
}
.blog__text p{
  color: white;
  margin: 50px 0;
}

/* PORTFOLIO */
.portfolio {
  text-align: center;
  padding: 50px 0;
}
.portfolio h2 {
  margin: 30px 0;
}
.portfolio__content{
  margin: 200px 0; 
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px 25px;
}
.portfolio__content img {
  width: 100%;
}

/* SUBCRICE */

.subscribe {
  background-color: #22cdcd;
  text-align: center;
  padding: 70px 0;
}
.subcribe__content {
  width: 60%;
  margin: 0 auto;
}
.subcribe__content p{
  color: white;
  font-size: 0.9rem;
}
.subcribe__content  input {
  padding: 10px 15px; 
  width: 60%;
  border: none;
  margin: 20px 20px;
  outline: none;
  font-weight: bold;
}
.subcribe__content  button {
  color: white;
  font-size: 1.3rem;
  padding: 10px 25px ;
} 

/* OUTGENTS */
.outagents {
  text-align: center;
  padding: 70px 0;
}
.outgents__content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.outgents__content  img {
  width: 100%;
  margin: 0;
}
.outgents__item {
  margin: 0 10px;
}
.outgents__detail {
  background-color: #363636;
  color: white;
  padding: 10px 10px;
}
.outgents__detail h3 {
  color: #22cdcd;
}
.outgent__icon i{
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  line-height: 30px;
  margin: 10px 10px 0 10px
}
.contact {
  margin: 0 auto;
  text-align: center;
}
.contact__map {
  background: #BBBBBB;
  padding: 20px 20px;
  border: 2px solid #2DB7DD;
}
.contact iframe {
  width: 100%;
}
.contact form {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0;
}
.contact .form__left, .contact .form__right {
  width: 50%;
}
.contact .form__left input{
  display: block;
  width: 95%;
  background-color: #EFEFEF;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #A2A2A2;
  outline: none;
}
.contact .form__right textarea {
  width: 95%;
  resize: none;
  background-color: #EFEFEF;
  border: none;
  height: 62%;
  padding: 10px;
  border-bottom: 2px solid #A2A2A2;
  outline: none;
}
.contact button {
  margin-top: 20px;
  width: 95%;
  color: white;
}
/* FOOTER */
footer {
  background-color: #22cdcd;
  padding: 35px 0;
}
.footer__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text p{
  margin-right: 200px;
  color: white;
  font-size: .8rem;
  letter-spacing: 1px;
}
.footer__icon i{
  color: white;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}